@font-face { font-family: digital7; src: url('digital-7.ttf'); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

sup {
    font-size: 60%;
    line-height: 0;
    position: relative;
    top: -0.5em;
  }


body {
    background: linear-gradient(to bottom, rgba(100,100,100,1), rgba(200,200,200,1), rgba(200,200,200,1), rgba(100,100,100,1)),
    url(acbackground.png);
    background-blend-mode: multiply;
    color: rgba(90, 42, 42, 1);
	line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    }

.container {
    margin: 1rem;
    padding: 1.5rem;
    background-color: rgba(24,95,192,1);
    width: 26rem;
    height: 32rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 8rem repeat(5, 1fr);
    border: 2px solid rgba(1,78,136,1);
    border-radius: 0.75rem;
    gap: 0.75rem;
    font-family: 'Inconsolata', monospace;
    font-size: 2.75rem;
    box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem rgba(50,50,50,1);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(1,45,80,1);
    border-radius: 0.75rem;
    background-color: rgba(235,235,235,1);
    box-shadow: 0.15rem 0.15rem 0.2rem rgba(1,68,116,1);
}

.button:hover {
    background-color: rgba(200,200,200,1);
}

.add, .sub, .mul, .div {
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 2px rgba(90, 42, 42, 1);
    background-color: rgba(255,168,1,1);
}

.add:hover, .sub:hover, .mul:hover, .div:hover {
    background-color: rgba(215,140,0,1);
}

.eql {
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 2px rgba(90, 42, 42, 1);
    background-color: rgba(46, 214, 139, 1);
}

.eql:hover {
    background-color: rgba(36, 180, 115, 1);
}

.ac, .c, .pow {
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 2px rgba(90, 42, 42, 1);
    background-color: rgba(207, 108, 233,1);
}

.ac:hover, .c:hover, .pow:hover {
background-color: rgba(170, 98, 203,1);
}

.display {
    text-align: right;
    padding: 0.5rem 0.75rem;
    grid-column: 1 / 5;
    border: 1px solid rgba(1,45,80,1);
    border-radius: 2px;
    background-color: rgba(255,255,255,1);
    justify-content: flex-end;
    align-items: flex-end;
    font-family: digital7;
    font-size: 4rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(50,50,50,1) inset;
    line-height: 0.85;
    word-wrap: break-word;
}

@media only screen and (max-width: 415px) {
    .container {
        padding: 1rem;
        height: 110vw;
        gap: 0.5rem;
        font-size: 2rem;
        grid-template-rows: 7rem repeat(5, 1fr);
    }

    .display {
        font-size: 3rem;
    }
}